@import 'style/GLOBAL';

.componentContainer {
  text-align: right;
  padding-bottom: 20px;

  button {
    width: 240px;

    &:first-child {
      margin: 0 10px 0 0;
    }
  }
}

@media screen and (max-width: 540px) {
  .componentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      &:first-child {
        margin: 0 0 10px 0;
      }
    }
  }
}
