@import 'style/GLOBAL';

.componentContainer {
  padding-top: 20px;
  text-align: center;
}

.loadingDataTextContainer {
  text-align: center;
  font-size: $GLOBAL_fontSizeSubtitle;
}

.imageContainer {
  $imageSize: 330px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  @include GLOBAL_mixin_svgBgAsBase64('loadingColor.svg');
}

@keyframes animation_pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

.spinnerBox {
  padding-top: 10px;
  text-align: center;
}

.pulseContainer {
  width: 120px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.pulseBubble {
  $bubbleSize: 20px;
  width: $bubbleSize;
  height: $bubbleSize;
  border-radius: 50%;
  background-color: $GLOBAL_color_primary;
}

.pulseBubble1 {
  animation: animation_pulse .4s ease 0s infinite alternate;
}
.pulseBubble2 {
  animation: animation_pulse .4s ease .2s infinite alternate;
}
.pulseBubble3 {
  animation: animation_pulse .4s ease .4s infinite alternate;
}
