@import 'style/GLOBAL';

.dictionaryItemLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $GLOBAL_borderColor;
  padding: 5px 0 5px 0;
  transition: border-color 0.5s;
  margin-bottom: 20px;

  &:hover {
    border-bottom-color: $GLOBAL_color_primary;
  }
}

.dictionaryValue {
  display: inline-flex;
  padding: 0 10px 0 0;
}

.actionsButtonsContainer {
  display: inline-flex;
}

.actionButton {
  font-size: $GLOBAL_fontSize;
  padding-left: $GLOBAL_fontSize;
  cursor: pointer;
  display: inline-block;
  background-position: left center;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  $animationTime: 0.5s;
  transition: box-shadow $animationTime ease-in-out;
}

@mixin mixin_actionButton($svgName, $btnColor) {
  color: $btnColor;
  @include GLOBAL_mixin_svgBgAsBase64($svgName, $btnColor);
  &:hover {
    box-shadow: 0 1px 0 $btnColor;
  }
}

.actionButtonDelete {
  @include mixin_actionButton('trash.svg', $GLOBAL_color_errorOrCancelPrimary);
  margin-left: 10px;
}

.actionButtonEdit {
  @include mixin_actionButton('pencil.svg', $GLOBAL_color_primary);
}

@media screen and (max-width: 960px) {
  .dictionaryItemLine {
    display: block;
  }

  .dictionaryValue {
    display: block;
    padding: 0 0 10px 0;
  }

  .actionsButtonsContainer {
    display: block;
    text-align: right;
  }
}