@import 'style/GLOBAL';

.tableContainer {
  table, th, td {
    border: 1px solid $GLOBAL_borderColor;
  }

  th {
    font-weight: bold;
    text-align: center;
  }

  td {
    vertical-align: top;
  }

  th, td {
    padding: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background-color: lighten($GLOBAL_color_primary, 48%);
  }
}

.participantsList {
  white-space: pre-wrap;
}

.photoContainer {
  img {
    max-width: 100%;
    max-height: 70vh;
  }
}