@import 'style/GLOBAL';

.editorContainer {
  :global {
    .rsw-editor {
      background-color: $GLOBAL_inputBgColor;
      $animationTime: 0.3s;
      transition: background-color $animationTime, border-color $animationTime;
      border-radius: 10px;
      min-height: 200px;
      resize: vertical;
      overflow: auto;

      &:hover {
        background-color: $GLOBAL_inputBgColorHover;
        border-color: $GLOBAL_inputBorderColorHover;
      }
    }

    .rsw-toolbar {
      margin: 10px 10px 0 10px;
      border-radius: 10px;
      padding: 2px;
      position: sticky;
      top: 0;
    }

    .rsw-ce {
      margin: 0 10px 0 10px;
      font-size: $GLOBAL_fontSize;

      @include GLOBAL_mixin_examTestContentHTML;
    }
  }
}

.editorContainerError {
  @include GLOBAL_mixin_wordWrap;
  @include GLOBAL_mixin_examTestContentHTML;

  :global {
    .rsw-editor {
      background-color: $GLOBAL_inputErrorBgColor;
      $animationTime: 0.3s;
      transition: box-shadow $animationTime easy-in-out, border-color $animationTime;
      border-color: $GLOBAL_color_errorOrCancelPrimary;
      &:hover {
        box-shadow: 0 0 5px $GLOBAL_color_errorOrCancelPrimary !important;
        border-color: $GLOBAL_color_errorOrCancelPrimary !important;
      }
    }
  }
}

.errorText {
  padding-top: 5px;
  font-size: $GLOBAL_fontSizeHelper;
  color: $GLOBAL_color_errorOrCancelPrimary;
  text-align: left;
  opacity: 1;
  transition: opacity 0.3s;
}
