@import 'style/GLOBAL';

.componentContainer {
  background-color: $GLOBAL_panelBgColor;
  border-radius: 10px;
  padding: 35px 25px;
  $boxShadowSetting: 0 4px 20px;
  box-shadow: $boxShadowSetting $GLOBAL_boxShadowPanelColor;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: $boxShadowSetting $GLOBAL_color_primary;
  }
}