@import 'style/GLOBAL';

@mixin mixin_buttonAction($buttonColor) {
  background-color: $buttonColor;
  &:hover {
    background-color: darken($buttonColor, 10%);
  }
}

.nmItemContainer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.commentTextContainer {
  padding: 20px 25px;
  border: 1px solid $GLOBAL_borderColor;
  position: relative;
  margin: 30px 0 20px 0;
  transition: border-color 0.4s;
  border-radius: 0 10px 10px 10px;

  &:hover {
    border-color: $GLOBAL_color_primary;
  }
}

.commentTextLabel {
  position: absolute;
  display: inline-block;
  background-color: $GLOBAL_panelBgColor;
  padding: 0 5px 0 0;
  font-size: $GLOBAL_fontSize;
  top: -12px;
  left: -1px;
  font-weight: bold;
}

.commentTextLabelIco {
  padding: 3px;
  border-radius: 50%;
  background-color: $GLOBAL_color_primary;
  display: inline-flex;
  width: $GLOBAL_fontSize;
  height: $GLOBAL_fontSize;
  font-size: $GLOBAL_fontSize;
  color: white;
  justify-content: center;
  align-items: center;
}


.nmItemContentContainer {
  padding: 20px;
}

.imgContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-gap: 10px 10px;
  align-items: start;
}

.buttonsActionsContainer {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.buttonAction {
  font-size: $GLOBAL_fontSizeHelper;
  cursor: pointer;
  width: 120px;
  height: 26px;
  border-radius: 10px;
  font-family: $GLOBAL_fontNamePrimary;
  outline: none;
  color: $GLOBAL_fontColorOnAnyBg;
  transition: background-color 0.5s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: unset;
  margin: 5px 0 0 10px;
}

.buttonActionEdit {
  $btnEditColor: $GLOBAL_color_primary;
  @include mixin_buttonAction($btnEditColor);
}

.buttonActionDelete {
  $btnDeleteColor: $GLOBAL_color_cancelPrimary;
  @include mixin_buttonAction($btnDeleteColor);
}

@media screen and (max-width: 720px) {
  .imgContainer{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 500px) {
  .imgContainer{
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
  }
}
