@import 'style/GLOBAL';

.filterLabel {
  font-weight: bold;
  padding-bottom: 5px;
}

.errorText {
  padding-top: 5px;
  font-size: $GLOBAL_fontSizeHelper;
  color: $GLOBAL_color_errorOrCancelPrimary;
  text-align: left;
}
