@import 'style/GLOBAL';

@mixin mixin_selectedMenuItem {
  background-color: $GLOBAL_color_primary;
  color: $GLOBAL_fontColorOnPrimaryColorBg;
}

.navigationLink {
  color: $GLOBAL_fontColorPrimary;
  text-decoration: none;
  margin: 5px;
  border: 2px solid $GLOBAL_color_primary;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 30px;
  $animationTime: 0.3s;
  transition: background-color $animationTime, color $animationTime;
}

.navigationLinkDefault {
  cursor: pointer;

  &:hover {
    @include mixin_selectedMenuItem;
  }
}

.navigationLinkActive {
  cursor: default;
  @include GLOBAL_mixin_svgBgAsBase64('circle.svg', $GLOBAL_fontColorOnPrimaryColorBg);
  @include mixin_selectedMenuItem;
  $icoSize: 10px;
  background-position: left 10px center;
  background-size: $icoSize $icoSize;
  background-repeat: no-repeat;
}

@keyframes animation_showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

