@import 'style/GLOBAL';

.popupBodySize {
  width: 70%;
  min-width: 340px;
}

.editUserFullName {
  padding-bottom: 10px;
  font-size: $GLOBAL_fontSizeSubtitle;
  font-weight: bold;
  color: $GLOBAL_color_primary;
}

.errorTextDropDown {
  padding-top: 5px;
  font-size: $GLOBAL_fontSizeHelper;
  color: $GLOBAL_color_errorOrCancelPrimary;
  text-align: left;
}

@media screen and (max-width: 960px) {
  .popupBodySize {
    width: 95%;
  }
}