@import 'style/GLOBAL';

$animationTime: 0.3s;
$boxShadowSetting: 0 1px 9px;

.componentContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    background-color: $GLOBAL_fontColorOnAnyBg;
    border-radius: 10px;
    transition:  box-shadow $animationTime, background-color $animationTime, color $animationTime;
    box-shadow: $boxShadowSetting $GLOBAL_boxShadowPanelColor;
    cursor: pointer;

    &:hover {
      box-shadow: $boxShadowSetting $GLOBAL_color_primary;
    }
  }

  .lineIco svg {
    width: 14px;
    height: 14px;
  }

  .tileIco svg {
    width: 16px;
    height: 16px;
  }

  .isActive {
    background-color: $GLOBAL_color_primary;
    color: $GLOBAL_fontColorOnAnyBg;
    cursor: default;

    &:hover {
      box-shadow: $boxShadowSetting $GLOBAL_boxShadowPanelColor;
    }
  }
}
