@import 'style/GLOBAL';

.componentContainer {
  display: inline-block;
}

.buttonToday {
  font-size: $GLOBAL_fontSizeHelper;
  color: $GLOBAL_fontColorPrimary;

  &:hover {
    text-decoration: underline;
  }
}

.buttonClearSelectedDate {
  $closeIcoSize: 50% 50%;
  width: 25px;

  @include GLOBAL_mixin_svgBg('x_close.svg?fill=darkgray', $closeIcoSize);

  &:hover {
    @include GLOBAL_mixin_svgBg('x_close.svg?fill=firebrick', $closeIcoSize);
  }

  &:after {
    content: none;
  }
}

.inputDateWrapper {
  display: inline-block;
}

.inputDate {
  @include GLOBAL_mixin_inputStyle();
  width: 150px;
}


.dateSeparator {
  display: inline-block;
  padding: 0 3px;
}

