@import 'style/GLOBAL';

@mixin mixin_questionStatus($isQuestionTrue: true) {
  $boxShadowSetting: 0 4px 20px;
  $boxShadowDefault: $boxShadowSetting $GLOBAL_boxShadowPanelColor;
  $boxShadowHover: $boxShadowSetting $GLOBAL_color_primary;

  @if ($isQuestionTrue == false) {
    $boxShadowDefault: $boxShadowSetting lighten($GLOBAL_color_errorOrCancelPrimary, 16%);
    $boxShadowHover: $boxShadowSetting $GLOBAL_color_errorOrCancelPrimary;
  }

  box-shadow: $boxShadowDefault;

  &:hover {
    box-shadow: $boxShadowHover;
  }
}

.componentContainer {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: $GLOBAL_panelBgColor;

  $animationTime: 0.5s;
  transition: box-shadow $animationTime;
}

.questionTrue {
  @include mixin_questionStatus(true);
}

.questionFalse {
  @include mixin_questionStatus(false);
}

.numberOfPointsContainer {
  padding-left: 10px;
  color: $GLOBAL_color_primary;
  font-weight: bold;
  flex-shrink: 0;
}

.questionContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionContent {
  @include GLOBAL_mixin_examTestContentHTML;
}


.buttonShowAnswersContainer {
  padding-top: 10px;
  text-align: left;
}

.buttonShowAnswers {
  display: inline-block;
  background-position: right;
  padding-right: 20px;
  background-repeat: no-repeat;
  $icoSize: 12px;
  background-size: $icoSize $icoSize;
  cursor: pointer;
  transition: box-shadow 0.3s;
  font-family: $GLOBAL_fontNameMedium;
}

.buttonShowAnswersTrue {
  color: $GLOBAL_color_primary;

  &:hover {
    box-shadow: 0 1px 0 $GLOBAL_color_primary;
  }
}

.buttonShowAnswersFalse {
  color: $GLOBAL_color_errorOrCancelPrimary;

  &:hover {
    box-shadow: 0 1px 0 $GLOBAL_color_errorOrCancelPrimary;
  }
}

.answersContainer {
  padding-top: 10px;
  animation: animationShowQuestionResultAnswers 0.5s;
}

.answersContainerEmpty {
  margin-top: 10px;
  animation: animationShowQuestionResultAnswers 0.5s;
  font-size: $GLOBAL_fontSizeSubtitle;
  color: $GLOBAL_color_errorOrCancelPrimary;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: $GLOBAL_panelBgColor;
  box-shadow: 0 2px 10px $GLOBAL_boxShadowPanelColor;
}

.buttonShowAnswersCloseTrue {
  @include GLOBAL_mixin_svgBgAsBase64('arrowDown.svg', $GLOBAL_color_primary);
}

.buttonShowAnswersOpenTrue {
  @include GLOBAL_mixin_svgBgAsBase64('arrowTop.svg', $GLOBAL_color_primary);
}

.buttonShowAnswersCloseFalse {
  @include GLOBAL_mixin_svgBgAsBase64('arrowDown.svg', $GLOBAL_color_errorOrCancelPrimary);
}

.buttonShowAnswersOpenFalse {
  @include GLOBAL_mixin_svgBgAsBase64('arrowTop.svg', $GLOBAL_color_errorOrCancelPrimary);
}

@keyframes animationShowQuestionResultAnswers {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
