@import '../../../style/GLOBAL';

.forgotPasswordContainer {
  text-align: right;
  margin-top: 30px;

  a {
    color: $GLOBAL_color_cancelPrimary;
    text-decoration: none;
    font-size: $GLOBAL_fontSize;
    &:hover {
      text-decoration: underline;
    }
  }
}