@import 'style/GLOBAL';

.componentContainer {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.testVerificationTextContainer {
  text-align: center;
  font-size: $GLOBAL_fontSizeTitle;
}

.animationContainer {
  min-width: 330px;
  width: 30%;
  display: inline-block;
}
