@import 'style/GLOBAL';

.componentContainer {
  display: flex;
  align-items: center;
}

.checkBox {
  $size: 30px;
  width: $size;
  height: $size;
  border: 1px solid $GLOBAL_borderColor;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  $animationTime: 0.2s;
  transition: border-color $animationTime, box-shadow $animationTime;
  flex-shrink: 0;

  &:hover {
    border-color: $GLOBAL_color_primary;
    box-shadow: 0 0 4px $GLOBAL_color_primary;
  }
}

.checkBoxActive {
  $icoSize: 20px;
  background-repeat: no-repeat;
  background-size: $icoSize $icoSize;
  background-position: center;
  @include GLOBAL_mixin_svgBgAsBase64('check.svg');

  &:hover {
    @include GLOBAL_mixin_svgBgAsBase64('check.svg', $GLOBAL_color_primary);
  }
}


