@import 'style/GLOBAL';

@mixin mixin_buttonAction($buttonColor) {
  background-color: $buttonColor;
  &:hover {
    background-color: darken($buttonColor, 10%);
  }
}

.componentContainer {
  padding-bottom: 10px;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.dropdownTestAndUserContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr) 50px;
  grid-gap: 10px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.btnContainerItemDescription{
  padding: 15px;
  margin: 5px;
  box-shadow: 0 1px 9px #a0d0fc;
  transition: box-shadow 0.5s ease 0s;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
    p{
      font-weight: normal;
      padding-right: 15px;
      font-size: 16px;
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px;
      border-bottom-style: solid;
      border-color: #d8d8d8;
      padding-left: 10px;
      margin-bottom: 15px;
      margin-right: 75px;
    }
    &:hover{
      box-shadow: 0 1px 9px $GLOBAL_color_primary;
    }
}
.btnContainerItem{
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 10px 10px;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 1px 9px #a0d0fc;
  transition: box-shadow 0.5s ease 0s;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 20px;
    p{
      font-weight: normal;
      padding-right: 15px;
      font-size: 16px;
      margin: 0;
      padding-bottom: 5px;
      border-bottom: 1px;
      border-bottom-style: solid;
      border-color: #d8d8d8;
      padding-left: 10px;
    }
    &:hover{
      box-shadow: 0 1px 9px $GLOBAL_color_primary;
    }
}
.contentContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
  margin-top: 20px;
}
.isActiveContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 10px;
  padding: 10px;
}
.dropdownContainer{
  display: grid;
  grid-template-columns: auto 50px;
  grid-gap: 10px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.iconBtn{
  font-size: 25px;
  color: $GLOBAL_color_primary;
  background-color: transparent;
  transition: box-shadow 0.5s ease 0s;
  width: 45px;
  border-style: double;
  border-radius: 10px;
  height: fit-content;
  padding-top: 4px;
    span{
      margin: 0;
    }
    &:hover {
      color: darken($GLOBAL_color_errorOrCancelPrimary, 10%);
      background-color:transparent;
      animation: pulse 1.2s infinite;
    }
}
.iconBtn {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.buttonShowDetailUserInfo {
  color: $GLOBAL_color_primary;
  display: inline-block;
  cursor: pointer;
  box-shadow: unset;
  transition: box-shadow 0.3s;
  font-family: $GLOBAL_fontNameMedium;
}

.showHideContainer{
  box-shadow: 0 1px 9px #a0d0fc;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 5px;
  padding-bottom: 20px;
  &:hover {
    box-shadow: 0 1px 9px $GLOBAL_color_primary;
  }
}

.buttonShowDetailUserInfo {
  background-position: right;
  padding-right: $GLOBAL_fontSize;
  background-repeat: no-repeat;
  $icoSize: 12px;
  background-size: $icoSize $icoSize;
}

.editorWrapper {
  padding-top: 10px;
}
.buttonShowDetailUserInfoContainer{
  display: grid;
  justify-content: center;
  box-shadow: 0 1px 9px #a0d0fc;
  transition: box-shadow 0.5s ease 0s;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
  margin-top: 20px;
  padding: 15px;

  &:hover {
    box-shadow: 0 1px 9px $GLOBAL_color_primary;
  }
}
.buttonShowDetailUserInfoClose {
  @include GLOBAL_mixin_svgBgAsBase64('arrowDown.svg', $GLOBAL_color_primary);
}

.buttonShowDetailUserInfoOpen {
  @include GLOBAL_mixin_svgBgAsBase64('arrowTop.svg', $GLOBAL_color_primary);
}

@media screen and (max-width: 960px) {
  .contentContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 630px) {
  .buttonShowDetailUserInfoContainer{
    float: none;
  }

}